applications:
- path: .
  memory: 128M
  instances: 1
  domain: eu-gb.mybluemix.net
  name: shsp
  host: shsp
  disk_quota: 1024M
  command: selfhostedchatpolling
  buildpack: https://github.com/cloudfoundry/go-buildpack.git
  env:
    SLACK_TOKEN: <replace this>
    SLACK_OAUTH_TOKEN: <replace this>
    CLOUDANT_DB: shsp_db_dev
    SHCP_LOG_TRAFFIC: false
    SHCP_BACKEND: cloudant
  services:
    - shsp-cloudant