applications:
- path: .
  memory: 128M
  instances: 1
  domain: mybluemix.net
  name: shsp
  host: shsp
  disk_quota: 1024M
  command: selfhostedsimplepolling
  buildpack: https://github.com/cloudfoundry/go-buildpack.git
  env:
    SLACK_TOKEN: <replace this>
    CLOUDANT_DB: shsp_db_dev
  services:
    - shsp-cloudant